* {
    margin: 0;
    padding: 0;
}


body, html {
    font-family: Arial, Helvetica, sans-serif;
   width:100%;
    height: 100%;
    font-size:16px;
}

/*body {
    background-image: url('../image/loginScreen.jpg');
    background-attachment: fixed;
    background-size: 100%;
}*/
.bg-img {
    background-image: url('../image/loginScreen.jpg');
    /*  max-width: 100%;
    height: 100vh;*/
    background-repeat: no-repeat;
    background-size: 100%;
    height:100%;
    background-position: center;
    /*background-position: center center;
    background-repeat: no-repeat;*/
    /*  background-size: cover;*/ /*
    background-size: contain;*/
    /*background-size: cover;
    background-attachment:;*/
    /*position: absolute;*/
}

.logodiv {
    display: flex;
    justify-content: center;
}

.logoImg {
    width: 10%;
    margin-top: 5%;
    margin-right: 65%;
    margin-bottom: 1%;
}


.center {
    display: block;
    /* display: flex;*/
    justify-content: center;
    height: 30px;
    align-items: center;
    font-size: 22px;
    color: black;
    line-height: 1.5;
    font-weight: bold;
    margin-left: 8.5%;
    /*  position:center;*/
}

/*.login_uname {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    font-weight: bold;
    color: black;
}*/

.login_txtbox {
    margin: 7%;
    top: -20px;
    margin-bottom: 32px;
    margin-left:120px;
    position: relative;
}

/*.login_txt_uname {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    display: flex;
    justify-content: center ;
    height: 45px;
    background: transparent;
    padding: 0 5px;
}*/


input[type=text], input[type=password] {
    font-size:15px;
    width: 300px;
    height: 2px;
    padding: 15px;
    padding-left:0px;
    margin: 10px 30px;
    margin-left: -20px;
    background: #f1f1f1;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #adadad;
    line-height: 1.2;
}

.lables {
    margin: 10px;
    margin-left: -18px;
    color: black;
    font-weight: 600;
}


.login_btn {
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 300px;
    height: 50px;
    background-color: #ffc20e;
    color: black;
    border-radius: 30px;
    margin-bottom: 10px;
    margin-left: -90px;
    font-weight: bold;
    position: relative;
    border: none;
}

.btn_div {
    margin-left: 185px;
    margin-top: -20px;
}



.login_sign {
    text-align: center;
    margin-top: 20px;
    margin-left: -750px;
}



.a_tag {
    /*font-family: Poppins-Regular;*/
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    transition: all 0.4s;
    background-color: transparent;
    font-weight: bold;
}


./*btn_verify {
    border-radius: 20px;
    height: 45px;
}

.font_size {
    font-size: 15px;
}*/



@media screen and (min-width: 480px) {
    body {
        font-size:small;
    }
}